.navbar{
    background-color: black;
}.navbar-brand{
    padding-left: 30px;
    font-weight: bold;
    font-size: x-large;
}
.getbtn{
    margin-right: 30px;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}